<template>
    <div class="vue-doughnut-progress relative"
      @mouseover="showNotice = true"
      @mouseleave="showNotice = false"
    >
      <transition>
        <div class="notyfication absolute" v-if="showNotice">
          Из {{ links }} ссылок в выдачи {{ negativeLinks }} с негативом
          <div class="relative kvadrat-wrapper">
            <div class="absolute kvadrat"></div>
          </div>
        </div>
      </transition>
      <svg :width="radius*2" :height="radius*2">
        <!-- <circle
          cx="230"
          cy="230"
          :r="230"
          :style="{
            'stroke-width': 10
          }"
        /> -->
        <!-- Track Circle -->
        <circle 
          :cx="radius"
          :cy="radius" 
          :r="radius" 
          :style="{
            'stroke-width':thickness,
          }"  
        />
        <!-- Bar Circle -->
        <circle 
          :cx="radius" 
          :cy="radius" 
          :r="radius" 
          :style="{
            'stroke-dashoffset':dashoffset,
            'stroke-dasharray':dasharray,
            'stroke-width':thickness,
            'stroke': '#E22A30'
          }" 
        />
      </svg>
      <!-- Test Inside Circle -->
      <span :style="{
        'text-align': 'center'
        }" 
        class="donut-negative-percent"
      >
        {{ text.text+"%" }}
        <br>
        <div class="donut-negative-text">Негатива в вашей выдаче</div>
      </span>
      
    </div>
  </template>
  
  <script>
  export default {
    name: 'VueDoughnutProgress',
    props: {
      // Doughnut Properties
      'radius': String,
      'color': String,
      'thickness': String,
      'percent': String,
      'text': Object,
      'links': Number,
      'negativeLinks': Number
    }, 
    computed: {
      dashoffset() {
        return this.dasharray - (this.dasharray*this.val/100);
      },
      dasharray() {
        return 2 * Math.PI * this.radius
      },
    },
    data() {
      return {
        showNotice: false,
        val: 0
      }
    },
    mounted() {
      setTimeout(() => {
        this.val = this.percent
      }, 1000)
    }
  }
  </script>
  
  <style scoped>
  .v-enter-active,
  .v-leave-active {
    transition: opacity 0.1s ease;
  }

  .v-enter-from,
  .v-leave-to {
    opacity: 0;
  }
  .vue-doughnut-progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  }
  .vue-doughnut-progress svg {
    -webkit-transform: rotate(-90deg);    
      transform: rotate(-90deg);
    overflow: initial;
  } 
  .vue-doughnut-progress span {
    position: absolute;
  }
  .vue-doughnut-progress circle{
    fill:none;    
  }
  .vue-doughnut-progress circle:nth-child(1){
    stroke: #F4F3F3;
  }
  .vue-doughnut-progress circle:nth-child(2){
    position: relative;
    z-index: 1;    
    -webkit-transition: stroke-dashoffset 1s;    
    transition: stroke-dashoffset 1s;
    stroke-linecap: round;
  }
  .donut-negative-percent {
    max-width: 140px;
    color: var(--black-rm-1, #1D1D1B);
    /* Dextop/Heading/H1 - 32 */
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
  }
  .donut-negative-text {
    color: var(--gray-rm-3, #666);
    text-align: center;
    /* Dextop/Text/Reg - 18 */
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
  }
  .notyfication {
    background-color: #3A3A35;
    font-weight: 400;
    font-size: 14px;
    max-width: 201px;
    border-radius: 8px;
    padding: 8px 10px 8px 10px;
    line-height: 18px;
    text-align: left;
    top: -82px;
    color: white !important;
    animation: fade 0.2s;
    z-index: 1;
    text-align: center;
    right: 0px;
  }
  .kvadrat {
		height: 20px;
    width: 20px;
    transform: rotate(45deg);
    background: #3A3A35;
    z-index: -1;
    top: -8px;
    left: calc(50% - 8px);
  }
  </style>