<template>
	<div class="links-tables-container">
		
		<div 
			class="links-tables"
			v-for="(keywordItem, keyword) in parserPayload"
			:key="`tables_${keyword}`"
		>
			<div class="links-tables-header">
				Тональность вашей выдачи по запросу «{{ keyword }}»
			</div>
			<div class="links-tables-wrapper">
				<div class="links-table"
					v-for="(engineItem, engineKey) in keywordItem"
					:key="`table_${engineKey}`"
					:class="engineKey === 'google' ? 'order1' : 'order2'"
				>	
					<TableComponent
						:engineKey="engineKey"
						:engineItem="engineItem"
					/>
				</div>

			</div>
		</div>
	</div>
</template>
<script>
import { usePayloadStore } from '../../stores';	
import { mapState } from 'pinia';
import TableComponent from './TableComponent.vue';

export default {
		components: {
			TableComponent
		},
    computed: {
			...mapState(usePayloadStore, ['parserPayload']),
			
		},
		methods: {
			
		}
}
</script>
<style scoped>
	.links-tables-header {
		color: var(--black-rm-1, #1D1D1B);

		/* Dextop/Heading/H3 - 18 */
		font-family: Arial;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: 130%; /* 23.4px */
		margin-bottom: 24px;
	}
	.links-tables-wrapper {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
		flex-wrap: wrap;
	}
	.order1 {
		order: 1
	}
	.order2 {
		order: 2
	}
	.links-table {
		max-width: 580px;
		width: 100%;
		border-radius: 10px;
		border: 1px solid var(--gray-rm-1, #F4F3F3);
	}

	@media screen and (max-width: 425px) {
		.links-tables-header {
			margin-bottom: 16px;
		}
		
	}

	@media screen and (max-width: 1200px) {
		.links-table {
			margin-bottom: 24px;
		}

		.links-tables-wrapper {
			justify-content: center;
		}
		.links-tables-header {
			text-align: center;
		}
	}
	
</style>