<template>
  <div>
    <div class="links-table-header relative">
      <div class="links-table-pos">Позиция</div>
      <div class="links-table-engine">
				<img v-if="engineKey === 'yandex'" class="" src="https://reputation.moscow/wp-content/uploads/2023/07/yandex.png" alt="yandex">
				<img v-else class=" " src="https://reputation.moscow/wp-content/uploads/2023/07/google.png" alt="google-image">
			</div>
      <div class="links-table-ctr ">
        <div class="flex items-center gap-x-2">
          <span class="">
            CTR
          </span>
          <svg 
            @mouseover="showCtr = true"
            @mouseleave="showCtr = false"
            class="w-3.5 h-3.5 text-gray-500" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
          </svg>
        </div>
      </div>
      <transition>
        <div class="notyfication absolute" v-if="showCtr">
          Показатель кликабельности ссылки
          <div class="relative kvadrat-wrapper">
            <div class="absolute kvadrat"></div>
          </div>
        </div>
      </transition>
    </div>
    <div class="links-table-body">
      <div 
        class="link-table-content"
        v-for="(item, key) in engineItem.results"
        :key="`${engineKey}_${key}`"
        :class="item.negative ? 'bad-url' : ''"
      >
        <div class="link-pos"> {{ key }} </div>
        <div class="link-url flex">
					<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg" v-if="item.negative" class="mr-1">
						<path d="M16.8913 6.94583L17.4788 10.3458C17.5133 10.5451 17.5038 10.7495 17.4511 10.9447C17.3983 11.14 17.3035 11.3213 17.1734 11.4761C17.0432 11.6309 16.8808 11.7553 16.6975 11.8408C16.5142 11.9263 16.3144 11.9706 16.1122 11.9708H11.7947C11.6939 11.9708 11.5944 11.9927 11.5029 12.035C11.4115 12.0774 11.3304 12.1391 11.2652 12.2159C11.2 12.2928 11.1523 12.3829 11.1255 12.48C11.0986 12.5771 11.0932 12.6789 11.1097 12.7783L11.6622 16.1492C11.7518 16.6965 11.7263 17.2565 11.5872 17.7933C11.5277 18.0152 11.413 18.2183 11.2539 18.384C11.0948 18.5496 10.8964 18.6724 10.6772 18.7408L10.5563 18.78C10.2832 18.8678 9.98671 18.8475 9.72801 18.7233C9.44468 18.5867 9.23801 18.3375 9.16135 18.0417L8.76468 16.5133C8.6384 16.027 8.4549 15.5573 8.21801 15.1142C7.87218 14.4667 7.33718 13.9475 6.78051 13.4683L5.58135 12.435C5.41499 12.2912 5.28506 12.1101 5.2022 11.9064C5.11935 11.7028 5.08593 11.4824 5.10468 11.2633L5.78135 3.43583C5.81117 3.08965 5.96972 2.76724 6.22567 2.53227C6.48163 2.29729 6.81639 2.16684 7.16385 2.16666H11.0372C13.9388 2.16666 16.4147 4.18833 16.8913 6.94583Z" fill="#E22A30"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M2.4734 12.5958C2.63445 12.6029 2.79199 12.5474 2.91312 12.441C3.03424 12.3347 3.10958 12.1856 3.1234 12.025L3.93173 2.66167C3.94542 2.52224 3.93055 2.38148 3.88802 2.24798C3.84548 2.11449 3.77618 1.99107 3.68435 1.88526C3.59252 1.77945 3.48008 1.69346 3.3539 1.63257C3.22772 1.57167 3.09046 1.53713 2.95048 1.53106C2.81051 1.52499 2.67077 1.54752 2.53979 1.59727C2.40882 1.64702 2.28936 1.72295 2.18871 1.82041C2.08807 1.91788 2.00835 2.03484 1.95442 2.16415C1.90049 2.29346 1.87349 2.43241 1.87507 2.5725V11.9717C1.87513 12.1328 1.9374 12.2876 2.04889 12.4039C2.16037 12.5202 2.31245 12.589 2.4734 12.5958Z" fill="#E22A30"/>
					</svg>
          <div class="link-url-wrapper">
						<a 
							target="_blank" 
							:href="item.url" 
							:style="{
								'color': item.checked ? 'rgb(104, 29, 168)' : 'var(--black-rm-1, #1D1D1B)',
								fontWeight: item.negative ? 'bold' : '300'
							}"
						>
							{{ item.url.length > 40 ? item.url.slice(0, 40)+'...' : item.url }}
						</a>
					</div>
        </div>
        <div class="link-ctr"> {{ CTR(String(key)) }} </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    engineKey: {
      type: String,
      required: true
    },
    engineItem: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      showCtr: false
    }
  },
  methods: {
    CTR(key) {
				let ctr;
				switch (key) {
						case "1":
								ctr = 0.335;
								break;
						case "2":
								ctr = 0.171;
								break;
						case "3":
								ctr = 0.1072;
								break;
						case "4":
								ctr = 0.0745;
								break;
						case "5":
								ctr = 0.0539;
								break;
						case "6":
								ctr = 0.0401;
								break;
						case "7":
								ctr = 0.0305;
								break;
						case "8":
								ctr = 0.0237;
								break;
						case "9":
								ctr = 0.0186;
								break;
						case "10":
								ctr = 0.0153;
								break;
						default:
								break;
				}

				return Number(ctr*100).toFixed(2) + '%'
			}
  }
}
</script>
<style scoped>
  .v-enter-active,
  .v-leave-active {
    transition: opacity 0.1s ease;
  }

  .v-enter-from,
  .v-leave-to {
    opacity: 0;
  }
  .order1 {
		order: 1
	}
	.order2 {
		order: 2
	}
	.links-table {
		max-width: 580px;
		width: 100%;
		border-radius: 10px;
		border: 1px solid var(--gray-rm-1, #F4F3F3);
	}
	
	.links-table-header {
		display: flex;
		border-bottom: 1px solid var(--gray-rm-1, #F4F3F3);
	}
	.links-table-pos {
		max-width: 88px;
		width: 100%;
		padding: 12px;
	}
	.links-table-engine {
		width: 100%;
		padding: 12px;
		display: flex;
    align-items: center;
	}
	.links-table-ctr {
		padding: 12px;
	}
	.link-table-content {
		display: flex;
		justify-content: space-between;
	}
	.link-table-content:last-child {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.link-pos {
		max-width: 88px;
		width: 100%;
		text-align: center;
		padding: 12px;
	}
	.link-url {
		width: 100%;
		padding: 12px;
	}
	.link-url-wrapper {
		display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	}
	.link-ctr {
		padding: 12px;
	}
	.link-url a:hover {
		text-decoration: underline !important;
	}
	.links-table-body {
		color: var(--black-rm-1, #1D1D1B);
		/* T reg 16 */
		font-family: Arial;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 130%; /* 20.8px */
		letter-spacing: 0.08px;
	}
	.links-table-body a {
		color: var(--black-rm-1, #1D1D1B);
	}
	.bad-url {
		background: rgba(226, 42, 48, 0.10);
	}
	.notyfication {
    background-color: #3A3A35;
    font-weight: 400;
    font-size: 14px;
    max-width: 201px;
    border-radius: 8px;
    padding: 8px 10px 8px 10px;
    line-height: 18px;
    text-align: left;
    top: -50px;
    color: white !important;
    animation: fade 0.2s;
    z-index: 1;
    text-align: center;
    right: -80px;
  }
  .kvadrat {
		height: 20px;
    width: 20px;
    transform: rotate(45deg);
    background: #3A3A35;
    z-index: -1;
    top: -8px;
    left: calc(50% - 8px);
  }

	@media (max-width: 578px) {
		.links-table-body a {
			width: 500px;
			display: block;
		}
		.link-url {
			overflow: hidden;
		}
		.link-url-wrapper {
			overflow: hidden;
		}
		.notyfication {
			top: -56px;
			right: -11px;
		}
		.kvadrat {
			top: -8px;
			left: 151px;
		}
		.link-url svg {
			min-width: 20px;
		}
	}
</style>