<template>
  <main class="md:container md:mx-auto main-container" ref="main" >
    
    <div class="message-container">
      <div class="donut-container">
        <DonutComponent
          radius="90"
          thickness="10"
          color="red"
          :percent="String(getLosts/getAllLinks*100)"
          :text="{
            text: Math.round(getLosts/getAllLinks*100),
            bold: true,
            size: 14
          }"
          :links="getAllLinks" 
          :negativeLinks="getLosts"
        />
      </div>
      <div class="calc-message-container">
        <div class="calc-message greate" v-if="getLosts === 0">
          Здорово! Вы следите за своей репутацией и не разочаровываете ваших клиентов или сотрудников
          <div class="negative-notice" v-if="getLosts === 0">
      <div class="negative-notice-title">
        
      </div>
      <span class="additional">
        Если вы уверены, что негатив есть, вернитесь на страницу с <span><router-link class="router-link" :to="{name: 'engines'}">с выдачей</router-link></span>  и отметьте негативные ссылки
      </span>
    </div>
        </div>
        <div class="calc-message" v-else-if="getLosts > 0 && getLosts < 3">
          <h3 class="message-title">
            Вы отметили {{ getLosts }} {{ getDeclination }}. Это нормальное количество негатива в выдаче
          </h3>
          <p class="message-description">
            Поговорите с коллегами и убедитесь, что у вашего бизнеса нет проблем с наймом или привлечением клиентов. Негатив влияет на это в первую очередь. Сравните себя с конкурентами, чтобы не уступать им в онлайн-репутации.
          </p>
        </div>
        <div class="calc-message" v-else-if="getLosts > 2 && getLosts < 5">
          <h3 class="message-title">
            Вы отметили {{ getLosts }} {{ getDeclination }}. Такое количество негатива требует внимания
          </h3>
          <p class="message-description">
            Наверное, вы уже заметили эффект от него. Ваши дела идут не так, как вы бы хотели. Могли начаться трудности с наймом или привлечением клиентов.
          </p>
        </div>
        <div class="calc-message" v-else>
          <h3 class="message-title">
            Вы отметили {{ getLosts }} {{ getDeclination }}. Плохая новость — у вас проблема. Хорошая — это решаемо
          </h3>
          <p class="message-description">
            Возможно у вас есть серьёзные опасения за ваше будущее. 
            <!-- Позвоните нашим экспертам <a href="tel:88002229684">88002229684</a>. -->
          </p>
        </div>
      </div>
      <!-- <div class="statistics-container">
      <div class="statistics-element">
        <span class="red">{{ new Intl.NumberFormat().format(getOverallQuerys) }}</span> 
        запросов в месяц в Google и Яндекс по {{selectedUserKeywords.length }} {{ selectedUserKeywords.length === 1 ? declinations[0] : declinations[1] }} 
      </div>
      <div class="statistics-element"><span class="red">{{ new Intl.NumberFormat().format(getOverallReputationLosts) }}</span> человек в месяц видят негатив о вашем бренде </div>
    </div> -->
    
    <!-- <div class="negative-notice" v-else-if="getLosts > 0">
      <div class="negative-notice-title"><span class="red">{{ new Intl.NumberFormat().format(getOverallReputationLosts) }} человек</span> не станут вашими клиентами или сотрудниками </div> 
      <div class="negative-notice-description">
        По статистике <span><a href="https://vc.ru/marketing/91417-issledovanie-vliyanie-otzyvov-na-mnenie-potrebitelya" target="_blank">67% клиентов</a></span> и 
        <span><a href="https://hr-elearning.ru/soiskateli-stali-chashhe-proveryat-pote/" target="_blank">77% соискателей</a></span> могут изменить свое мнение в зависимости от отзывов, 
        которые они прочитают.
      </div>
    </div> -->
    </div>
    <div class="links-list-container">
      <LinksTables/>
    </div>
    <div class="statistics-container" v-if="getOverallReputationLosts">
      <div class="statistics-main-info" >
        {{ new Intl.NumberFormat().format(getOverallReputationLosts) }} {{ humanDecl(getLosts, humans) }} в месяц {{ humanDecl(getLosts, humanSee) }} негативные ссылки
      </div>
      <div class="statistics-info">
        Расчитали по формуле: <span class="var margin">R * CTR</span>
      </div>
      <div class="statistics-info">
        <div><span class="var">R</span> — количество запросов в месяц</div>
        <div>По {{ selectedUserKeywords.length }} {{ queryDecl() }} вас ищут {{ new Intl.NumberFormat().format(getOverallQuerys) }} {{ humanDecl(getOverallQuerys, humans) }} в месяц по данным из Яндекс Вордстат и Google</div>
      </div>
      <div class="statistics-info">
        <div><span class="var">CTR</span> — средний коэффициент кликабельности ссылок</div>
        <div>Мы узнаем актуальный CTR с помощью портала <a href="https://www.advancedwebranking.com/ctrstudy/">Advanced web ranking</a></div>
      </div>
    </div>
    <div class="pdf-button">
      <button 
        class="custom-button py-3 px-4 inline-flex flex-shrink-0 justify-center 
              items-center gap-2 rounded-md border border-transparent font-semibold 
              text-white hover:bg-red-600 focus:z-10 focus:outline-none 
              transition-all text-sm"
        @click="makePdf"
      >
        <span>Скачать отчет</span>
      </button>
    </div>
  </main>
</template>

<script>
  import { mapState } from 'pinia';
  import { usePayloadStore } from '../stores/index';
  import DonutComponent from '../components/calculationsPage/DonutComponent.vue';
  import LinksTables from '../components/calculationsPage/LinksTables.vue';

  export default {
    data() {
      return {
        declinations: ["ключу", "ключам"],
        linkDeclinations: ["ссылку", "ссылки", "ссылок"],
        humans: ["человека", "человек"],
        humanSee: ["видят", "видит"]
      }
    },
    components: {
      DonutComponent, LinksTables
    },
    methods: {
      makePdf() {
        const header = document.querySelector('header')
        const jivo = document.querySelector('jdiv')
        const footer = document.querySelector('footer')

        header.style.display = "none"
        jivo.style.display = "none"
        footer.style.display = "none"

        setTimeout(() => {
          header.style.display = "block"
          jivo.style.display = "block"
          footer.style.display = "block"
        }, 1000)

        window.print()
      },
      goToEngines() {
        this.$router.push({name:'engines'})
      },
      humanDecl(val, words) {
        val = Math.abs(val) % 100; 
        var num = val % 10;
        if(val > 10 && val < 20) return words[0]; 
        if(num > 1 && num < 5) return words[1];
        if(num == 1) return words[0]; 
        return words[0];
      },
      queryDecl() {
        if (this.selectedUserKeywords.length > 1) return "запросам"

        return "запросу"
      },
      humanSeeDecl(val, words) {
        val = Math.abs(val) % 100; 
        var num = val % 10;
        if(val > 10 && val < 20) return words[0]; 
        if(num > 1 && num < 5) return words[1];
        if(num == 1) return words[0]; 
        return words[0];
      }
    },
    computed: {
      ...mapState(usePayloadStore, ['calculationsPayload', 'selectedUserKeywords']),
      getLosts() {
        return this.calculationsPayload.losts.negativeLinks
      },
      getOverallQuerys() {
        return this.calculationsPayload.losts.overallQuerys.google + this.calculationsPayload.losts.overallQuerys.yandex
      },
      getOverallDirectViews() {
        return this.calculationsPayload.losts.total.overallDirectViews
      },
      getOverallReputationLosts() {
        return this.calculationsPayload.losts.total.overallReputationLosts
      },
      getDeclination() {
        let declination = this.linkDeclinations[1]

        if (
            this.calculationsPayload.losts.negativeLinks % 10 === 1 && 
            this.calculationsPayload.losts.negativeLinks !== 11
        ) declination = this.linkDeclinations[0]
        if (
            this.calculationsPayload.losts.negativeLinks > 4 && 
            this.calculationsPayload.losts.negativeLinks < 21 || 
            this.calculationsPayload.losts.negativeLinks === 0 || 
            (this.calculationsPayload.losts.negativeLinks % 10) > 4 
        ) declination = this.linkDeclinations[2]

        return declination                       
      },
      getAllLinks() {
        return this.calculationsPayload.losts.linksSumm
      },
    },
    mounted() {
      const elementScroll = document.querySelector('.message-container')
      this.$scrollTo(elementScroll, 250, {offset: -300})
    }
  }
</script>

<style scoped>
  .custom-button {
    height: 44px;
    --tw-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    min-width: 194px;
    margin-bottom: 120px;
    cursor: pointer;
    background: #e22a30;
  }
  .custom-button:hover {
    background: #bc171c;
  }
  .custom-button span {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 130% !important;
    color: white !important;
  }
  span { display: inline; }
  .main-container {
    max-width: 1200px;
  }
  .donut-container {
    width: 210px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.08);
    margin-right: 30px;
    min-width: 210px;
  }
  .message-container {
    margin-bottom: 40px;
    display: flex;
  }
  .greate {
    color: var(--black-rm-1, #1D1D1B);
    /* Dextop/Heading/H2 - 24 */
    font-size: 24px;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
  .message-title {
    color: var(--black-rm-1, #1D1D1B);
    /* Dextop/Heading/H2 - 24 */
    font-size: 24px;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 12px;
  }
  .message-description {
    color: var(--black-rm-1, #1D1D1B);
    /* Dextop/Text/Reg - 16 */
    font-size: 18px;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  .message-description a {
    color: #C09957;
  }
  .negative-notice {
    color: #1D1D1B;
    font-size: 18px;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-top: 16px;
  }
  .statistics-info {
    margin-bottom: 24px;
    line-height: 130%;
  }
  .statistics-info a {
    color: #1D1D1B;
    text-decoration: underline;
  }
  .statistics-container {
    color: var(--black-rm-1, #1D1D1B);
    /* Dextop/Text/Reg - 18 */
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
  }
  .statistics-main-info {
    color: var(--black-rm-1, #1D1D1B);
    /* Dextop/Heading/H2 - 24 */
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 31.2px */
    margin-bottom: 16px;
  }
  .var {
    color: var(--black-rm-1, #1D1D1B);
    /* Dextop/Heading/H3 - 18 */
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 23.4px */
  }
  .statistics-element {
    /* color: #E22A30; */
    font-size: 18px;
    font-family: Arial;
    font-style: normal;
    /* font-weight: 700; */
    line-height: 130%;
    padding: 24px;
    border-radius: 6px;
    border: 1px solid var(--gray-rm-1, #F4F3F3);
    background: #FFF;
    max-width: 338px;
    /* input shadows */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  }
  .red {
    font-weight: 700;
    color: #E22A30;
  }
  .router-link {
    color: #B88E4D;
    text-decoration: underline !important;
  }
  .negative-notice-title {
    margin-bottom: 8px;
    font-size: 18px;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
  .negative-notice-description a {
    color: var(--black-rm-1, #1D1D1B) !important;
    text-decoration: underline !important;
  }

  .message-wrapper {
    display: flex;
  }
  .calc-message-container{
    display: flex;
    align-items: center;
  }
  .calc-message {
    max-width: 640px;
  }
  .additional {
    color: var(--gray-rm-3, #666);
    /* Dextop/Text/Reg - 18 */
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
  }
  .pdf-button {
    display: none;
  }

  @media (min-width: 768px) {
    .pdf-button {
      display: block;
    }
  }

  @media screen and (max-width: 425px) {

    .calc-message {
      font-size: 18px;
    }
    .message-description {
      font-size: 16px;
    }
    
    .statistics-element {
      max-width: none;
      font-size: 16px;
    }
    .red {
      font-size: 18px;
    }
    
    .negative-notice-description {
      font-size: 16px;
      
    }
    .additional {
      line-height: 130%;
    }
    .negative-notice-description {
      line-height: 130%;
    }
    /* .statistics-main-info {
      font-size: 18px;
    } */
  }
  @media screen and (max-width: 768px) {
    
    .statistics-container {
      display: block;
    }
    .statistics-element:not(:last-child) {
      margin-bottom: 16px;
    }
    .statistics-element {
      max-width: none;
    }
    .message-container {
      flex-wrap: wrap;
      margin-bottom: 40px;
      
      justify-content: center;
    }
    .donut-container {
      margin-right: 0;
      margin-bottom: 40px;

    }
  }

  @media screen and (max-width: 1200px) {

    
  }

</style>