<template>
  <div>
    <main class="md:container md:mx-auto main-container">
      <section class="engines-header">
        <div class="engines-main-container">
          <!-- <div class="main-header">
            <MainHeader/>
          </div> -->

          <div class="engines-content-title">
            Проверьте все ссылки и отметьте те, которые ведут <br class="br" />
            на негатив
          </div>
        </div>
      </section>
      <section>
        <EnginesContent />
      </section>
      <!-- <div class="engines-sidebar">
        <p color="black">asdasdas</p>
        <iframe :src="iframeUrl" frameborder="0"></iframe>
      </div> -->
      <div
        id="hs-overlay-bottom"
        class="hs-overlay hs-overlay-open:translate-y-0 translate-y-full fixed bottom-0 inset-x-0 transform max-h-40 h-full w-full z-[60] bg-white border-b dark:bg-gray-800 dark:border-gray-700 hidden"
        tabindex="-1"
      >
        <div class="line" @pointerdown="changeElementHeight($event)"></div>
        <div class="flex justify-between items-center py-3 px-4 border-b dark:border-gray-700">
          <h3 class="font-bold text-gray-800 dark:text-white">Offcanvas title</h3>
          <button
            type="button"
            class="inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-md text-gray-500 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white text-sm dark:text-gray-500 dark:hover:text-gray-400 dark:focus:ring-gray-700 dark:focus:ring-offset-gray-800"
            data-hs-overlay="#hs-overlay-bottom"
          >
            <span class="sr-only">Close modal</span>
            <svg
              class="w-3.5 h-3.5"
              width="8"
              height="8"
              viewBox="0 0 8 8"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.258206 1.00652C0.351976 0.912791 0.479126 0.860131 0.611706 0.860131C0.744296 0.860131 0.871447 0.912791 0.965207 1.00652L3.61171 3.65302L6.25822 1.00652C6.30432 0.958771 6.35952 0.920671 6.42052 0.894471C6.48152 0.868271 6.54712 0.854471 6.61352 0.853901C6.67992 0.853321 6.74572 0.865971 6.80722 0.891111C6.86862 0.916251 6.92442 0.953381 6.97142 1.00032C7.01832 1.04727 7.05552 1.1031 7.08062 1.16454C7.10572 1.22599 7.11842 1.29183 7.11782 1.35822C7.11722 1.42461 7.10342 1.49022 7.07722 1.55122C7.05102 1.61222 7.01292 1.6674 6.96522 1.71352L4.31871 4.36002L6.96522 7.00648C7.05632 7.10078 7.10672 7.22708 7.10552 7.35818C7.10442 7.48928 7.05182 7.61468 6.95912 7.70738C6.86642 7.80018 6.74102 7.85268 6.60992 7.85388C6.47882 7.85498 6.35252 7.80458 6.25822 7.71348L3.61171 5.06702L0.965207 7.71348C0.870907 7.80458 0.744606 7.85498 0.613506 7.85388C0.482406 7.85268 0.357007 7.80018 0.264297 7.70738C0.171597 7.61468 0.119017 7.48928 0.117877 7.35818C0.116737 7.22708 0.167126 7.10078 0.258206 7.00648L2.90471 4.36002L0.258206 1.71352C0.164476 1.61976 0.111816 1.4926 0.111816 1.36002C0.111816 1.22744 0.164476 1.10028 0.258206 1.00652Z"
                fill="currentColor"
              />
            </svg>
          </button>
        </div>
        <div class="p-4">
          <p class="text-gray-800 dark:text-gray-400">
            Some text as placeholder. In real life you can have the elements you have chosen. Like,
            text, images, lists, etc.
          </p>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import EnginesContent from '../components/enginesPage/EnginesContent.vue'
import { usePayloadStore } from '../stores/index'

import { mapState, mapActions } from 'pinia'

export default {
  components: { EnginesContent },
  data() {
    return {
      height: 300,
      active: false,
      mouseY: 0,
      pointerDirection: ''
    }
  },
  computed: {
    ...mapState(usePayloadStore, ['iframeUrl']),
    test() {
      return 1
    }
  },
  methods: {
    ...mapActions(usePayloadStore, ['setAttr']),
    changeElementHeight(event) {
      const elem = event.target
      elem.setPointerCapture(event.pointerId)
      elem.onpointermove = () => {
        if (this.pointerDirection === 'down') {
          this.height = this.height - 2
        } else {
          this.height = this.height + 2
        }
      }

      elem.onpointerup = () => {
        elem.onpointermove = null
        elem.onpointerup = null
      }
    }
  },
  mounted() {
    document.addEventListener('mousemove', (event) => {
      this.mouseY = event.clientY
    })
  },
  watch: {
    mouseY(val, prev) {
      console.log(val, prev)
      if (val > prev) {
        this.pointerDirection = 'down'
      } else {
        this.pointerDirection = 'up'
      }
    }
  }
}
</script>

<style scoped>
#hs-overlay-bottom {
  max-height: none;
  height: v-bind(height + 'px');
}
.line {
  height: 5px;
  cursor: grab;
}
.engines-sidebar {
  height: 33%;
  position: fixed;
  background: grey;
  width: 100vw;
  right: 0;
  bottom: 0;
  overflow: scroll;
}
.line {
  height: 5px;
  cursor: grab;
}
#hs-overlay-bottom {
  max-height: none;
  height: v-bind(canvasH + 'px');
}
.line:active {
  cursor: grabbing;
}
.engines-sidebar iframe {
  width: 100%;
  height: 100%;
}
.main-container {
  max-width: 1200px;
}
.engines-main-container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 60px;
}
.engines-content-title {
  color: var(--black-rm-1, #1d1d1b);
  /* text-align: center; */
  /* Heading/H2 - 24 */
  font-size: 24px;
  font-family: Arial;
  font-weight: 700;
  line-height: 130%;
  width: 100%;
}
.main-header {
  width: calc(100vw - 15px);
  /* width: 100vw; */
  background: var(--gray-rm-1, #f4f3f3);
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-left: 15px;
}

@media screen and (max-width: 425px) {
  .engines-main-container {
    margin-bottom: 26px;
  }
  .engines-content-title {
    font-size: 18px;
    font-weight: 700;
  }
  .br {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}
</style>
