<template >
  <div class="header-wrapper" >
    <div class="header-container relative">
    <div class="back-button-container absolute">
      <router-link
        v-if="$route.name !== 'form'"
        :to="{name: goBack}"
      >
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="chevron-left">
          <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M17.0297 2.46888C16.96 2.39903 16.8772 2.34362 16.7861 2.30581C16.695 2.268 16.5973 2.24854 16.4987 2.24854C16.4 2.24854 16.3023 2.268 16.2112 2.30581C16.1201 2.34362 16.0373 2.39903 15.9677 2.46888L6.96766 11.4689C6.89781 11.5385 6.8424 11.6213 6.80459 11.7124C6.76678 11.8035 6.74732 11.9012 6.74732 11.9999C6.74732 12.0985 6.76678 12.1962 6.80459 12.2873C6.8424 12.3784 6.89781 12.4612 6.96766 12.5309L15.9677 21.5309C16.1085 21.6717 16.2995 21.7508 16.4987 21.7508C16.6978 21.7508 16.8888 21.6717 17.0297 21.5309C17.1705 21.39 17.2496 21.199 17.2496 20.9999C17.2496 20.8007 17.1705 20.6097 17.0297 20.4689L8.55916 11.9999L17.0297 3.53088C17.0995 3.46121 17.1549 3.37844 17.1927 3.28733C17.2305 3.19621 17.25 3.09853 17.25 2.99988C17.25 2.90122 17.2305 2.80354 17.1927 2.71243C17.1549 2.62131 17.0995 2.53854 17.0297 2.46888V2.46888Z" fill="#3A3A35"/>
          </g>
        </svg>
      </router-link>
    </div>
    <router-link :to="{name: 'form'}" class="header-item" :class="{hide: isThatPage !== 'form'}">
      <div class="header-item">
        <div class="item-number">
          1
        </div>
        <div class="item-text">Запрос</div>
        <div class="item-img">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.0653 1.44006C4.10594 1.39931 4.15422 1.36699 4.20737 1.34493C4.26052 1.32288 4.3175 1.31152 4.37505 1.31152C4.4326 1.31152 4.48958 1.32288 4.54273 1.34493C4.59588 1.36699 4.64416 1.39931 4.6848 1.44006L9.9348 6.69006C9.97554 6.7307 10.0079 6.77897 10.0299 6.83213C10.052 6.88528 10.0633 6.94226 10.0633 6.99981C10.0633 7.05735 10.052 7.11433 10.0299 7.16748C10.0079 7.22064 9.97554 7.26892 9.9348 7.30956L4.6848 12.5596C4.60265 12.6417 4.49123 12.6879 4.37505 12.6879C4.25887 12.6879 4.14745 12.6417 4.0653 12.5596C3.98315 12.4774 3.937 12.366 3.937 12.2498C3.937 12.1336 3.98315 12.0222 4.0653 11.9401L9.00642 6.99981L4.0653 2.05956C4.02456 2.01892 3.99223 1.97064 3.97018 1.91748C3.94812 1.86433 3.93677 1.80735 3.93677 1.74981C3.93677 1.69226 3.94812 1.63528 3.97018 1.58213C3.99223 1.52897 4.02456 1.4807 4.0653 1.44006Z" fill="#3A3A35"/>
          </svg>

        </div>
      </div>
    </router-link>
    <router-link 
      :to="{name: 'engines'}" 
      class="header-item" 
      :class="{
        'link-disabled': userSteps.find(i => i === 'parser') ? false : true, 
        hide: isThatPage !== 'engines'
      }"
    >
      <div class="header-item">
        <div class="item-number">
          2
        </div>
        <div class="item-text">Выдача</div>
        <div class="item-img">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.0653 1.44006C4.10594 1.39931 4.15422 1.36699 4.20737 1.34493C4.26052 1.32288 4.3175 1.31152 4.37505 1.31152C4.4326 1.31152 4.48958 1.32288 4.54273 1.34493C4.59588 1.36699 4.64416 1.39931 4.6848 1.44006L9.9348 6.69006C9.97554 6.7307 10.0079 6.77897 10.0299 6.83213C10.052 6.88528 10.0633 6.94226 10.0633 6.99981C10.0633 7.05735 10.052 7.11433 10.0299 7.16748C10.0079 7.22064 9.97554 7.26892 9.9348 7.30956L4.6848 12.5596C4.60265 12.6417 4.49123 12.6879 4.37505 12.6879C4.25887 12.6879 4.14745 12.6417 4.0653 12.5596C3.98315 12.4774 3.937 12.366 3.937 12.2498C3.937 12.1336 3.98315 12.0222 4.0653 11.9401L9.00642 6.99981L4.0653 2.05956C4.02456 2.01892 3.99223 1.97064 3.97018 1.91748C3.94812 1.86433 3.93677 1.80735 3.93677 1.74981C3.93677 1.69226 3.94812 1.63528 3.97018 1.58213C3.99223 1.52897 4.02456 1.4807 4.0653 1.44006Z" fill="#3A3A35"/>
          </svg>
        </div>
      </div>
    </router-link>
    
    <router-link 
      :to="{name: 'calculations'}" 
      class="header-item" 
      :class="{
        'link-disabled': userSteps.find(i => i === 'calculations') ? false : true, 
        hide: isThatPage !== 'calculations'
      }"
    >
      <div class="header-item">
        <div class="item-number">
          3
        </div>
        <div class="item-text">Результат</div>
        <div class="item-img">
          <!-- <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.0653 1.44006C4.10594 1.39931 4.15422 1.36699 4.20737 1.34493C4.26052 1.32288 4.3175 1.31152 4.37505 1.31152C4.4326 1.31152 4.48958 1.32288 4.54273 1.34493C4.59588 1.36699 4.64416 1.39931 4.6848 1.44006L9.9348 6.69006C9.97554 6.7307 10.0079 6.77897 10.0299 6.83213C10.052 6.88528 10.0633 6.94226 10.0633 6.99981C10.0633 7.05735 10.052 7.11433 10.0299 7.16748C10.0079 7.22064 9.97554 7.26892 9.9348 7.30956L4.6848 12.5596C4.60265 12.6417 4.49123 12.6879 4.37505 12.6879C4.25887 12.6879 4.14745 12.6417 4.0653 12.5596C3.98315 12.4774 3.937 12.366 3.937 12.2498C3.937 12.1336 3.98315 12.0222 4.0653 11.9401L9.00642 6.99981L4.0653 2.05956C4.02456 2.01892 3.99223 1.97064 3.97018 1.91748C3.94812 1.86433 3.93677 1.80735 3.93677 1.74981C3.93677 1.69226 3.94812 1.63528 3.97018 1.58213C3.99223 1.52897 4.02456 1.4807 4.0653 1.44006Z" fill="#3A3A35"/>
          </svg> -->
        </div>
      </div>
    </router-link>
    
  </div>
  </div>
</template>

<script>
import { mapState } from 'pinia';
import { usePayloadStore } from '../stores/index';

export default {
  data() {
    return {
      page: "form",
      routeMap: ["form", "engines", "calculations"]
    }
  },
  computed: {
    ...mapState(usePayloadStore, ['userSteps', 'currentPage']),
    getPixels() {
      if (this.$route.name === "engines") return '15px'

      return '0px'
    },
    isThatPage() {
      return this.$route.name
    },
    goBack() {
      if (this.$route.path === "/") {
        return "form"
      }
      return this.routeMap[this.routeMap.findIndex(i => i === this.$route.name) - 1]
    }
  },
}
</script>

<style scoped>
  a {
    text-decoration: none !important;
    color: #B88E4D !important;
    border-bottom: none;
  }
  .header-wrapper {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background: var(--gray-rm-1, #F4F3F3);
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    padding-left: v-bind(getPixels);
  }
  /* .main-header {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background: var(--gray-rm-1, #F4F3F3);
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
  } */
  .header-container {
    display: flex;
    height: 48px;
    align-items: center;
    max-width: 700px;
    width: 100%;
  }
  
  .header-item {
    display: flex;
    align-items: center;
    margin-right: 44px;
  }
  .header-container .header-item:last-child {
    margin: 0;
  }
  .item-number {
    border: 1px solid var(--black-rm-2, #3A3A35);
    color: var(--black-rm-2, #3A3A35);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }
  .item-text {
    font-weight: 400;
    font-size: 18px;
    margin-right: 8px;
    color: black !important;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  .item-img {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .link-disabled {
    pointer-events: none;
    opacity: 0.4;
  }
  .back-button-container {
    display: none;
  }
  @media screen and (max-width: 425px) {
    .header-container {
      justify-content: center;
    }
    
    .hide {
      display: none;
    }
    .header-item {
      margin-right: 0;
    }
    .header-wrapper {
      margin-bottom: 40px;
    }
    .back-button-container {
      left: 12px;
      display: block;
    }
    .item-img {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .header-item {
      margin-right: 24px;
    }
  }
</style>