<template>
  <div
    class="engine-content-card relative"
    :style="{
      borderColor: urlIsShit(item.url) || negativeBorderColor,
      backgroundColor: negativeBackColor
    }"
    @mouseover="test(item.url)"
    @mouseleave="show = false"
  >
    <a :href="item.url" target="_blank" @click="setCheckedStatus(searchKey, index, engine)">
      <div class="card-wrapper">
        <div class="card-title">
          <a
            :href="item.url"
            target="_blank"
            v-html="item.title.length < 50 ? item.title : item.title.slice(0, 50) + '...'"
            :style="{ color: checked }"
          ></a>
        </div>
        <div class="card-url">
          <a :href="item.url" target="_blank">{{ item.url.slice(0, 60) }}</a>
        </div>
        <div
          class="card-desc"
          v-html="item.passage.length < 120 ? item.passage : item.passage.slice(0, 120) + '...'"
        ></div>
        <div class="bad-url absolute" v-if="urlIsShit(item.url) || negativeStatus">
          {{ negativeStatus ? 'Есть негатив' : 'Проверьте, может содержать негатив' }}
        </div>
      </div>
    </a>
    <transition>
      <div class="notyfication absolute" v-if="show">
        Отметьте, если есть негатив
        <div class="relative kvadrat-wrapper">
          <div class="absolute kvadrat"></div>
        </div>
      </div>
    </transition>
    <div class="bad-url-selector absolute">
      <div class="relative negative-selector">
        <input
          type="checkbox"
          :checked="negativeStatus"
          class=""
          @click="setNegativeStatus(searchKey, index, engine)"
        />
      </div>
    </div>
  </div>
</template>
<script>
import { badUrls } from '../../variables'
import { usePayloadStore } from '../../stores/index'

import { mapState, mapActions } from 'pinia'

export default {
  props: {
    item: {
      type: Object,
      required: true
    },
    index: {
      type: [Number, String],
      required: true
    },
    searchKey: {
      type: String,
      required: true
    },
    checked: {
      type: String,
      default: '#1a0dab'
    },
    engine: {
      type: String,
      required: true
    },
    negativeBorderColor: {
      type: String,
      default: 'var(--gray-rm-2, #C4C4C4)'
    },
    negativeBackColor: {
      type: String,
      default: 'white'
    },
    negativeStatus: {
      type: Boolean,
      default: false
    },
    mainIndex: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      show: false
    }
  },
  methods: {
    urlIsShit(url) {
      for (const item of badUrls) {
        if (url.includes(item)) {
          return true
        }
      }

      return false
    },
    setCheckedStatus(key, index, engine) {
      this.$emit('checked', {
        key,
        index,
        engine
      })
    },
    setNegativeStatus(key, index, engine) {
      this.$emit('negative', {
        key,
        index,
        engine
      })
    },
    test(url) {
      this.show = true
      this.setAttr(url)
    },
    ...mapActions(usePayloadStore, ['setAttr'])
  },
  mounted() {
    if (this.mainIndex && this.engine === 'google' && this.index === '1') {
      this.show = true
      setTimeout(() => {
        this.show = false
      }, 5000)
    }
  }
}
</script>

<style scoped>
.modal {
  width: 700px;
  height: 700px;
  background: grey;
  top: 0;
  left: 0;
  z-index: 500;
  position: absolute;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.1s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.engines-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.engine {
  max-width: 560px;
  margin-bottom: 40px;
}
.engine-content {
  background: #fff;
}
.engine-content-card {
  border: 1px solid var(--gray-rm-2, #c4c4c4);
  border-radius: 5px;
  margin-bottom: 8px;
  cursor: pointer;
}
.engine-content-card a {
  text-decoration: none;
}
.card-wrapper {
  padding: 8px 24px;
}
.card-wrapper:hover a {
  text-decoration: underline;
}
/* .engine-content-card:hover .bad-url {
    display: block;
  } */
.bad-url {
  bottom: 0;
  right: 0;
  background: var(--red-rm-1, #e22a30);
  border-top-left-radius: 5px;
  color: white;
  font-size: 12px;
  font-family: Arial;
  line-height: 140%;
  padding: 2px 5px;
}
.le a {
  color: #1a0dab;
  font-size: 18px;
  font-family: Arial;
  line-height: 28px;
  text-decoration: none;
}
.card-title {
  margin: 0 !important;
}
.card-title a {
  color: #1a0dab;
}

.card-url a {
  color: var(--black-rm-1, #1d1d1b) !important;
  font-size: 14px;
  font-family: Arial;
}
.card-desc {
  color: var(--gray-rm-3, #666);
  font-size: 12px;
  font-family: Arial;
  line-height: 140%;
}
.bad-url-selector {
  left: -5px;
  top: 11px;
}
.bad-url-selector input {
  width: 22px;
  height: 22px;
  accent-color: var(--red-rm-1, #e22a30);
}
.engine-title {
  display: flex;
  /* align-items: center; */
  margin-bottom: 8px;
}
.engine-title span {
  font-size: 18px;
  font-weight: 800;
}
.engine-title img {
  margin-right: 12px;
}
.negative-counter {
  padding-top: 8px;
  color: var(--black-rm-1, #1d1d1b);
  font-size: 16px;
  font-family: Arial;
  line-height: 140%;
}
.negative-counter span {
  font-weight: 800;
  font-size: 18px;
}
.desclamer {
  width: 208px;
  background-color: #1d1d1b;
  color: white;
  display: none;
}
.engine-content-card:hover .desclamer {
  display: block;
}
.negative-selector input {
  cursor: pointer;
}
.button-container {
  /* margin-bottom: 120px; */
  display: flex;
  justify-content: center;
}

.google {
  width: 64px;
}
.yandex {
  width: 57px;
}

.notyfication {
  background-color: #3a3a35;
  font-weight: 400;
  font-size: 14px;
  max-width: 220px;
  border-radius: 8px;
  padding: 8px 10px 8px 10px;
  line-height: 18px;
  text-align: left;
  top: -38px;
  left: -19px;
  color: white !important;
  animation: fade 0.2s;
  z-index: 1;
}
.kvadrat {
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  background: #3a3a35;
  z-index: -1;
  top: -8px;
  left: 5px;
}

@media screen and (max-width: 425px) {
  .engines-items {
    display: block;
  }
  .card-title a {
    line-height: 130%;
  }
}

@media screen and (max-width: 768px) {
  .engine-content {
    height: auto;
    padding: 6px;
  }
  .negative-selector input {
    height: 24px;
    width: 24px;
  }
  .card-url {
    word-wrap: break-word;
    line-height: 120% !important;
  }
  .card-url a {
    line-height: 120% !important;
  }
  .engine {
    width: 100%;
  }
}

@media (min-width: 425px) and (max-width: 1184px) {
  .engines-items {
    /* display: flex; */
    justify-content: center;
  }
}
@media (min-width: 1167px) {
  .engine-content-card {
    height: 100px;
  }
  .engine:not(:last-child) {
    margin-right: 15px;
  }
}
</style>
