<template>
  <div style="">
    <div class="engines-container">
      <div class="engines-wrapper" v-for="(item, key, mainIndex) in parserPayload" :key="mainIndex">
        <div class="engines-content-wrapper">
          <div class="engines-items">
            <div class="engine">
              <div class="engine-title">
                <div>
                  <img
                    class=" "
                    src="https://reputation.moscow/wp-content/uploads/2023/07/google.png"
                    alt="google-image"
                  />
                </div>
                <span>«{{ key }}»</span>
              </div>
              <div class="engine-content">
                <div v-for="(item, index) in item.google.results" :key="`#@#${index}`">
                  <EnginesCard
                    :item="item"
                    :index="index"
                    :searchKey="key"
                    :checked="getCheckedStatus(key, index, 'google')"
                    :engine="'google'"
                    :negativeBorderColor="
                      payload[key]['google'].results[index]['negative']
                        ? 'var(--red-rm-1, #E22A30)'
                        : 'var(--gray-rm-2, #C4C4C4)'
                    "
                    :negativeBackColor="
                      payload[key]['google'].results[index]['negative']
                        ? 'rgba(255, 0, 0, 0.06)'
                        : 'white'
                    "
                    :negativeStatus="payload[key]['google'].results[index]['negative']"
                    :mainIndex="!mainIndex"
                    @checked="setCheckedStatus"
                    @negative="setNegativeStatus"
                  />
                </div>
              </div>
              <div class="negative-counter">
                Отмечено негативных ссылок:
                <span>{{ this.payload[key]['google'].negativeCount || 0 }}</span>
              </div>
            </div>
            <div class="engine">
              <div class="engine-title">
                <div>
                  <img
                    class=""
                    src="https://reputation.moscow/wp-content/uploads/2023/07/yandex.png"
                    alt="yandex"
                  />
                </div>
                <span>«{{ key }}»</span>
              </div>
              <div class="engine-content">
                <div v-for="(item, index) in item.yandex.results" :key="`asdas${index}`">
                  <EnginesCard
                    :item="item"
                    :index="index"
                    :searchKey="key"
                    :checked="getCheckedStatus(key, index, 'yandex')"
                    :engine="'yandex'"
                    :negativeBorderColor="
                      payload[key]['yandex'].results[index]['negative']
                        ? 'var(--red-rm-1, #E22A30)'
                        : 'var(--gray-rm-2, #C4C4C4)'
                    "
                    :negativeBackColor="
                      payload[key]['yandex'].results[index]['negative']
                        ? 'rgba(255, 0, 0, 0.06)'
                        : 'white'
                    "
                    :negativeStatus="payload[key]['yandex'].results[index]['negative']"
                    @checked="setCheckedStatus"
                    @negative="setNegativeStatus"
                  />
                </div>
              </div>
              <div class="negative-counter">
                Отмечено негативных ссылок:
                <span>{{ this.payload[key]['yandex'].negativeCount || 0 }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-container">
        <div
          class="custom-button py-3 px-4 inline-flex flex-shrink-0 justify-center items-center gap-2 rounded-md border border-transparent font-semibold text-white hover:bg-red-600 focus:z-10 focus:outline-none transition-all text-sm"
          @click="submit"
          :class="needToUpdate ? 'disabled-button' : ''"
        >
          <span
            class="animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent text-white rounded-full"
            role="status"
            aria-label="loading"
            :style="{ display: isLoading ? 'block' : 'none' }"
          >
            <span class="sr-only">Loading...</span>
          </span>
          <span :style="{ display: isLoading ? 'none' : 'block' }">Получить отчет</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'pinia'
import { usePayloadStore } from '../../stores/index'
import { badUrls } from '../../variables'
import { toRaw } from 'vue'
import axios from 'axios'
import EnginesCard from './EnginesCard.vue'

export default {
  components: {
    EnginesCard
  },
  data() {
    return {
      badUrls,
      payload: {},
      isLoading: false,
      count: 0,
      dataIsUpdated: false,
      adittionalKeys: [],
      calcUrl: import.meta.env.VITE_CALC_URL
      // calcUrl: 'http://localhost:3000'
    }
  },
  computed: {
    ...mapState(usePayloadStore, [
      'parserPayload',
      'taskID',
      'mainSearchKeys',
      'selectedRegion',
      'metrikaGoals',
      'needToUpdate'
    ])
  },
  methods: {
    urlIsShit(url) {
      for (const item of badUrls) {
        if (url.includes(item)) {
          return true
        }
      }

      return false
    },
    setNegativeStatus(item) {
      const { key, index, engine } = item
      this.payload[key][engine].results[index]['negative'] = this.payload[key][engine].results[
        index
      ]['negative']
        ? false
        : true

      if (this.payload[key][engine].results[index]['negative']) {
        if (!this.payload[key][engine].negativeCount) {
          this.payload[key][engine].negativeCount = 1
        } else {
          this.payload[key][engine].negativeCount += 1
        }
      } else {
        this.payload[key][engine].negativeCount -= 1
      }

      this.setParserPayload(this.payload)
    },
    setCheckedStatus(item) {
      this.metrikaLink()
      this.payload[item.key][item.engine].results[item.index]['checked'] = true
    },
    checkForNegative(key, index, engine) {
      if (this.payload[key][engine].results[index]['negative'] === undefined) {
        return false
      }

      return true
    },
    submit() {
      if (this.needToUpdate) {
        return
      }

      this.metrikaReport()

      const keywords = []

      for (const key of Object.keys(this.parserPayload)) {
        keywords.push(key)
      }

      axios
        .post(`${this.calcUrl}/api/v2/calculate`, {
          keywords,
          payload: toRaw(this.payload),
          taskID: this.taskID,
          geoIds: this.selectedRegion
        })
        .then((res) => {
          this.setCalculationsPayload(res.data)
          this.setUserSteps('calculations')
          this.$router.push({ name: 'calculations' })
        })
    },
    getCheckedStatus(key, index, engine) {
      return this.payload[key][engine].results[index]['checked'] ? '#681da8' : '#1a0dab'
    },
    async updateData() {
      if (this.needToUpdate) {
        await axios
          .post(`${this.calcUrl}/api/v2/adittional`, {
            keywords: this.adittionalKeys,
            geoIds: this.selectedRegion.payload,
            taskID: this.taskID
          })
          .then((res) => {
            if (this.count <= 3) {
              if (res.data.status === 'error') {
                this.count = this.count + 1
                this.updateData()
              } else {
                this.dataIsUpdated = true
                this.setUpdateFlag(false)
              }
            } else {
              alert('Произошла ошибка сервера. Повторите запрос позднее.')
            }
          })
      }
    },
    metrikaNegative() {
      if (window.ym && !this.metrikaGoals.choosenegativepositioncalc) {
        this.setChoosenegativepositioncalc(true)
        window.ym(window.ym_id, 'reachGoal', 'choosenegativepositioncalc')
      }
    },
    metrikaReport() {
      if (window.ym && !this.metrikaGoals.getreportcalc) {
        this.setGetreportcalc(true)
        window.ym(window.ym_id, 'reachGoal', 'getreportcalc')
      }
    },
    metrikaLink() {
      if (window.ym && !this.metrikaGoals.checklinkcalc) {
        this.setChecklinkcalc(true)
        window.ym(window.ym_id, 'reachGoal', 'checklinkcalc')
      }
    },
    ...mapActions(usePayloadStore, [
      'setParserPayload',
      'setCalculationsPayload',
      'setUserSteps',
      'setChoosenegativepositioncalc',
      'setGetreportcalc',
      'setChecklinkcalc',
      'setUpdateFlag'
    ])
  },
  created() {
    this.payload = this.parserPayload
    const checkKeys = []

    for (const item of this.mainSearchKeys) {
      if (item.checked) checkKeys.push(item.Phrase)
    }

    if (checkKeys.length) {
      this.adittionalKeys = checkKeys
      this.updateData()
    } else {
      this.dataIsUpdated = true
    }
  },
  mounted() {
    const elementScroll = document.querySelector('.engines-container')
    this.$scrollTo(elementScroll, 250, { offset: -300 })
  }
}
</script>

<style scoped>
input:hover {
  accent-color: grey;
}
.disabled-button {
  opacity: 0.4;
  cursor: default !important;
}
.disabled-button:hover {
  background: #e22a30 !important;
}
.custom-button {
  height: 44px;
  --tw-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
  min-width: 194px;
  margin-bottom: 120px;
  cursor: pointer;
  background: #e22a30;
}
.custom-button:hover {
  background: #bc171c;
}
.custom-button span {
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 130% !important;
  color: white !important;
}
.engines-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.engine {
  max-width: 560px;
  margin-bottom: 40px;
}
.engine-content {
  background: #fff;
}
.engine-content-card {
  border: 1px solid var(--gray-rm-2, #c4c4c4);
  border-radius: 5px;
  margin-bottom: 8px;
  cursor: pointer;
}
.engine-content-card a {
  text-decoration: none;
}
.card-wrapper {
  padding: 8px 24px;
}
.card-wrapper:hover a {
  text-decoration: underline;
}
/* .engine-content-card:hover .bad-url {
    display: block;
  } */
.bad-url {
  bottom: 0;
  right: 0;
  background: var(--red-rm-1, #e22a30);
  border-top-left-radius: 5px;
  color: white;
  font-size: 12px;
  font-family: Arial;
  line-height: 140%;
  padding: 2px 5px;
}
.le a {
  color: #1a0dab;
  font-size: 18px;
  font-family: Arial;
  line-height: 28px;
  text-decoration: none;
}
.card-title {
  margin: 0 !important;
}
.card-title a {
  color: #1a0dab;
}

.card-url a {
  color: var(--black-rm-1, #1d1d1b) !important;
  font-size: 14px;
  font-family: Arial;
}
.card-desc {
  color: var(--gray-rm-3, #666);
  font-size: 12px;
  font-family: Arial;
  line-height: 140%;
}
.bad-url-selector {
  left: -5px;
  top: 11px;
}
.bad-url-selector input {
  width: 22px;
  height: 22px;
  accent-color: var(--red-rm-1, #e22a30);
}
.engine-title {
  display: flex;
  /* align-items: center; */
  margin-bottom: 8px;
}
.engine-title span {
  font-size: 18px;
  font-weight: 800;
}
.engine-title img {
  margin-right: 12px;
}
.negative-counter {
  padding-top: 8px;
  color: var(--black-rm-1, #1d1d1b);
  font-size: 16px;
  font-family: Arial;
  line-height: 140%;
}
.negative-counter span {
  font-weight: 800;
  font-size: 18px;
}
.desclamer {
  width: 208px;
  background-color: #1d1d1b;
  color: white;
  display: none;
}
.engine-content-card:hover .desclamer {
  display: block;
}
.negative-selector input {
  cursor: pointer;
}
.button-container {
  /* margin-bottom: 120px; */
  display: flex;
  justify-content: center;
}

.google {
  width: 64px;
}
.yandex {
  width: 57px;
}

.notyfication {
  background-color: #3a3a35;
  font-weight: 400;
  font-size: 14px;
  max-width: 220px;
  border-radius: 8px;
  padding: 8px 10px 8px 10px;
  line-height: 18px;
  text-align: left;
  right: -240px;
  bottom: -9px;
  color: white !important;
  animation: fade 0.2s;
  z-index: 1;
}
.kvadrat {
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  left: -16px;
  bottom: 17px;
  background: #3a3a35;
  z-index: -1;
}

@media screen and (max-width: 425px) {
  .engines-items {
    display: block;
  }
  .card-title a {
    line-height: 130%;
  }
}

@media screen and (max-width: 768px) {
  .engine-content {
    height: auto;
    padding: 6px;
  }
  .negative-selector input {
    height: 24px;
    width: 24px;
  }
  .card-url {
    word-wrap: break-word;
    line-height: 120% !important;
  }
  .card-url a {
    line-height: 120% !important;
  }
  .engine {
    width: 100%;
  }
}

@media (min-width: 425px) and (max-width: 1184px) {
  .engines-items {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1167px) {
  .engine-content-card {
    height: 100px;
  }
  .engine:not(:last-child) {
    margin-right: 15px;
  }
}
</style>
