<script>
import axios from 'axios'
import { mapActions, mapState } from 'pinia'
import { usePayloadStore } from '../../stores/index'

const dev = import.meta.env.VITE_ENV_MODE === 'dev'
axios.defaults.timeout = 30000

export default {
  data() {
    return {
      isLoading: false,
      notificator: false,
      clientQuery: '',
      showFindButton: true,
      calcUrl: import.meta.env.VITE_CALC_URL,
      errorMessage: '',
      mouseY: 0
      // calcUrl: 'http://localhost:3000'
    }
  },
  methods: {
    ...mapActions(usePayloadStore, [
      'setCities',
      'setUserQuery',
      'setTaskID',
      'setWordstatKeys',
      'deleteUserStep',
      'clearUserKeywords',
      'setMainSearchKeys',
      'setStartfillingcalc',
      'setUpdateFlag'
    ]),
    async submit(event) {
      if (!this.clientQuery.length || this.isLoading) return

      this.deleteUserStep([])
      this.clearUserKeywords([])

      if (event.target !== undefined) {
        event.target.blur()
      } else {
        event.blur()
      }

      this.isLoading = true

      await axios
        .post(`${this.calcUrl}/api/v2/create`, {
          keywords: [this.clientQuery],
          geoIds: this.selectedRegion.payload
        })
        .then((res) => {
          const statistic = res.data.data[0].filteredKeys
          const taskID = res.data.taskID
          const mainSearchKeys = res.data.data[0].mainKeys

          // if (res.statusCode === 500) {

          // }

          if (!statistic) {
            alert('У наших партнеров Яндекс произошел сбой, повторите запрос через минуту')
            this.isLoading = false
            return
          }

          if (!this.needToUpdate) {
            this.setUpdateFlag(true)
          }

          this.setUserQuery(this.clientQuery)
          this.setTaskID(taskID)
          this.setWordstatKeys(statistic)
          this.setMainSearchKeys(mainSearchKeys)
          this.isLoading = false
          if (statistic.error_code) {
            this.showFindButton = true
          } else {
            this.showFindButton = false
          }
        })
        .catch((error) => {
          this.isLoading = false

          if (error.code === 'ECONNABORTED') {
            alert('У наших партнеров Яндекс произошел сбой, повторите запрос через минуту')

            return
          }

          alert('У наших партнеров Яндекс произошел сбой, повторите запрос через минуту')
        })
    },
    metrika() {
      if (window.ym && !this.metrikaGoals.startfillingcalc) {
        this.setStartfillingcalc(true)
        window.ym(window.ym_id, 'reachGoal', 'startfillingcalc')
      }
    }
  },
  async mounted() {
    if (!dev) {
      const countryList = await axios
        .get(`${this.calcUrl}/api/v1/get-countries`)
        .then((res) => res.data)

      this.setCities(countryList.payload[0])

      return
    }

    // const countryList = await readFile('../../dev/getCountries.json', { encoding: 'utf8' })
    // console.log(countryList)
  },
  computed: {
    ...mapState(usePayloadStore, ['selectedRegion', 'metrikaGoals', 'needToUpdate']),
    test(event) {
      return event.clientY
    }
  },
  created() {
    const param = new URLSearchParams(window.location.search)
    const query = param.get('query')
    if (query) {
      this.clientQuery = query
      this.$nextTick(() => {
        let self = this
        this.submit(self.$refs.mainInput)
      })
    }
  }
}
</script>

<template>
  <div class="input-container" ref="content">
    <div class="relative flex rounded-md shadow-sm">
      <input
        type="text"
        id="hs-search-box-with-loading-5"
        name="hs-search-box-with-loading-5"
        class="custom-input py-3 px-4 block w-full border-gray-200 relative shadow-sm rounded-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
        placeholder="Название вашего бренда"
        @focus=";(notificator = true), (this.showFindButton = true)"
        @focusout="notificator = false"
        v-model="clientQuery"
        @keypress.enter="submit($event)"
        @keypress="showFindButton = true"
        @click="metrika"
        ref="mainInput"
      />

      <div
        class="custom-button py-3 px-4 inline-flex flex-shrink-0 justify-center absolute items-center gap-2 rounded-md border border-transparent font-semibold text-white focus:z-10 focus:outline-none transition-all text-sm"
        @click="submit"
        :disabled="isLoading"
        style="z-index: 59"
      >
        <span
          class="animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent text-white rounded-full"
          role="status"
          aria-label="loading"
          :style="{ display: isLoading ? 'block' : 'none' }"
        >
          <span class="sr-only">Loading...</span>
        </span>
        <span :style="{ display: isLoading ? 'none' : 'block' }">Найти</span>
      </div>
      <transition-group>
        <div
          class="hs-dropdown-toggle inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-md text-gray-400 hover:text-gray-500 transition-all text-sm dark:focus:ring-gray-700 dark:focus:ring-offset-gray-800 absolute close-button-custom"
          v-if="clientQuery.length"
          :style="{
            zIndex: clientQuery.length ? '50' : '1',
            right: showFindButton ? '92px' : '12px'
          }"
          @click=";(clientQuery = ''), $refs.mainInput.focus()"
        >
          <span class="sr-only">Close</span>
          <svg
            class="w-3.5 h-3.5"
            width="8"
            height="8"
            viewBox="0 0 8 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.258206 1.00652C0.351976 0.912791 0.479126 0.860131 0.611706 0.860131C0.744296 0.860131 0.871447 0.912791 0.965207 1.00652L3.61171 3.65302L6.25822 1.00652C6.30432 0.958771 6.35952 0.920671 6.42052 0.894471C6.48152 0.868271 6.54712 0.854471 6.61352 0.853901C6.67992 0.853321 6.74572 0.865971 6.80722 0.891111C6.86862 0.916251 6.92442 0.953381 6.97142 1.00032C7.01832 1.04727 7.05552 1.1031 7.08062 1.16454C7.10572 1.22599 7.11842 1.29183 7.11782 1.35822C7.11722 1.42461 7.10342 1.49022 7.07722 1.55122C7.05102 1.61222 7.01292 1.6674 6.96522 1.71352L4.31871 4.36002L6.96522 7.00648C7.05632 7.10078 7.10672 7.22708 7.10552 7.35818C7.10442 7.48928 7.05182 7.61468 6.95912 7.70738C6.86642 7.80018 6.74102 7.85268 6.60992 7.85388C6.47882 7.85498 6.35252 7.80458 6.25822 7.71348L3.61171 5.06702L0.965207 7.71348C0.870907 7.80458 0.744606 7.85498 0.613506 7.85388C0.482406 7.85268 0.357007 7.80018 0.264297 7.70738C0.171597 7.61468 0.119017 7.48928 0.117877 7.35818C0.116737 7.22708 0.167126 7.10078 0.258206 7.00648L2.90471 4.36002L0.258206 1.71352C0.164476 1.61976 0.111816 1.4926 0.111816 1.36002C0.111816 1.22744 0.164476 1.10028 0.258206 1.00652Z"
              fill="currentColor"
            />
          </svg>
        </div>
      </transition-group>

      <div class="notyfication absolute" :style="{ display: notificator ? 'block' : 'none' }">
        Вводите запрос без ошибок, чтобы калькулятор посчитал результаты корректно
        <div class="relative kvadrat-wrapper">
          <div class="absolute kvadrat"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.v-enter-active,
.v-leave-active {
  transition: opacity 0.05s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.input-container {
  padding-bottom: 12px;
  display: block;
}
.custom-button {
  min-width: 82px;
  height: 44px;
  --tw-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
  right: 4px;
  top: 4px;
  cursor: pointer;
  padding: 0 !important;
  background: #e22a30;
}
.custom-button:hover {
  background: #bc171c;
}
.custom-button span {
  color: white;
}
.custom-input:focus {
  border: 1px solid #e5e7eb;
  outline: none;
}

.custom-input {
  border: 1px solid #e5e7eb;
  font-size: 16px;
  height: 52px;
}

@media (min-width: 1024px) {
  .custom-input {
    min-width: 500px;
  }
}

.notyfication {
  background-color: #3a3a35;
  font-weight: 400;
  font-size: 14px;
  max-width: 220px;
  border-radius: 8px;
  height: 70px;
  padding: 8px 10px 8px 10px;
  line-height: 18px;
  text-align: left;
  right: -240px;
  bottom: -9px;
  display: v-bind(notificator);
  color: white !important;
  animation: fade 0.2s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.kvadrat {
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  left: -16px;
  bottom: 17px;
  background: #3a3a35;
  z-index: -1;
}

span {
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 130% !important;
}

.close-button-custom {
  height: 100%;
  cursor: pointer;
}

.close-button-custom:focus {
  border-style: none;
}
@media screen and (max-width: 768px) {
  .notyfication {
    right: 0;
    bottom: 65px;
  }
  .kvadrat {
    bottom: -14px;
    left: auto;
    right: calc(50% - 10px);
  }
}
@media (min-width: 425px) and (max-width: 768px) {
}
</style>
