<script>
import { usePayloadStore } from '../../stores/index';
import { toRaw } from 'vue';
import { mapActions, mapState } from 'pinia';

export default {
  data() {
    return {
      selectedCountry: null,
      selectedCity: null,
      filter: '',
      selectedRegion: {
        name: "Россия",
        payload: {
          google: "2643",
          yandex: "225"
        }
      },
      defaultRegions: {
        "Россия": {
          "google": "2643",
          "yandex": "225"
        },
        "Москва": {
          "google": "1011969",
          "yandex": "213"
        },
        "Санкт-Петербург": {
          "google": "1012040",
          "yandex": "2"
        },
        "Нижний Новгород": {
          "google": "1011981",
          "yandex": "47"
        },
        "Новосибирск": {
          "google": "1011984",
          "yandex": "65"
        },
        "Казань": {
          "google": "1012054",
          "yandex": "43"
        },
        "Челябинск": {
          "google": "1011874",
          "yandex": "56"
        },
        "Екатеринбург": {
          "google": "1012052",
          "yandex": "54"
        },
        "Ростов-на-Дону": {
          "google": "1012013",
          "yandex": "39"
        },
        "Рязань": {
          "google": "1012017",
          "yandex": "11"
        },
        "Калуга": {
          "google": "1011928",
          "yandex": "6"
        },
        "Калининград": {
          "google": "1011914",
          "yandex": "22"
        },
      }
    }
  },
  computed: {
    ...mapState(usePayloadStore, ['cities', 'geoIds']),
    regionsFilter() {
      if (!this.filter.length) {
        return this.defaultRegions
      }

      return this.cities.payload
    }
  },
  methods: {
    ...mapActions(usePayloadStore, ['setSelectedRegion']),
    setDefaultCountry() {
      this.selectedCountry = this.cities[0]
    },
    setRegion(name, payload) {
      this.selectedRegion = {
        name,
        payload: toRaw(payload)
      }

      this.setSelectedRegion(this.selectedRegion)
    },
    // closeModal() {
    //   document.getElementById('hs-slide-down-animation-modal').classList.remove('open')
    //   document.querySelector('.hs-overlay-backdrop').style.display = "none"
    // }
  }
}
</script>

<template>
  <div class="region-button-container">
    <span class="region-input">Регион: </span><a class="region-button" href="#" data-hs-overlay="#hs-slide-down-animation-modal" @click="setDefaultCountry"> {{
    selectedRegion.name }}</a>
  </div>

  <!-- <teleport to="body"> -->
    <div id="hs-slide-down-animation-modal"
    class="hs-overlay hidden w-full h-full fixed top-0 left-0 z-[60] overflow-x-hidden overflow-y-auto">
    <div
      class="regions-overlay hs-overlay-open:opacity-100 hs-overlay-open duration-150 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
      <div
        class="regions-wrapper flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
        <div class="flex justify-between items-center dark:border-gray-700">
          <h3 class="regions-title">
            Укажите ваш регион
          </h3>
          <div
            class="custom-close-button  hs-dropdown-toggle inline-flex flex-shrink-0 justify-center items-center 
                  h-8 w-8 rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-400 
                  focus:ring-offset-2 focus:ring-offset-white transition-all text-sm dark:focus:ring-gray-700 dark:focus:ring-offset-gray-800"
            data-hs-overlay="#hs-slide-down-animation-modal">
            <span class="sr-only">Close</span>
            <svg class="w-3.5 h-3.5" width="8" height="8" viewBox="0 0 8 8" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.258206 1.00652C0.351976 0.912791 0.479126 0.860131 0.611706 0.860131C0.744296 0.860131 0.871447 0.912791 0.965207 1.00652L3.61171 3.65302L6.25822 1.00652C6.30432 0.958771 6.35952 0.920671 6.42052 0.894471C6.48152 0.868271 6.54712 0.854471 6.61352 0.853901C6.67992 0.853321 6.74572 0.865971 6.80722 0.891111C6.86862 0.916251 6.92442 0.953381 6.97142 1.00032C7.01832 1.04727 7.05552 1.1031 7.08062 1.16454C7.10572 1.22599 7.11842 1.29183 7.11782 1.35822C7.11722 1.42461 7.10342 1.49022 7.07722 1.55122C7.05102 1.61222 7.01292 1.6674 6.96522 1.71352L4.31871 4.36002L6.96522 7.00648C7.05632 7.10078 7.10672 7.22708 7.10552 7.35818C7.10442 7.48928 7.05182 7.61468 6.95912 7.70738C6.86642 7.80018 6.74102 7.85268 6.60992 7.85388C6.47882 7.85498 6.35252 7.80458 6.25822 7.71348L3.61171 5.06702L0.965207 7.71348C0.870907 7.80458 0.744606 7.85498 0.613506 7.85388C0.482406 7.85268 0.357007 7.80018 0.264297 7.70738C0.171597 7.61468 0.119017 7.48928 0.117877 7.35818C0.116737 7.22708 0.167126 7.10078 0.258206 7.00648L2.90471 4.36002L0.258206 1.71352C0.164476 1.61976 0.111816 1.4926 0.111816 1.36002C0.111816 1.22744 0.164476 1.10028 0.258206 1.00652Z"
                fill="currentColor" />
            </svg>
          </div>
        </div>

        <div>
          <input type="text" id="hs-search-box-with-loading-6" name="hs-search-box-with-loading-6" 
            class="custom-input py-3 px-4 block w-full border-gray-200 relative
                  shadow-sm rounded-md text-sm focus:z-10 focus:border-blue-500 
                  focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
            placeholder="Поиск"
            v-model="filter"
            autocomplete="additional-name"
          >
        </div>
        <div class="overflow-y-auto">
              
          <div v-for="(item, key, index) of regionsFilter" :key="key" class="regions">
            <div 
              v-if="key.toLowerCase().includes(filter.toLowerCase())"
              @click="setRegion(key, item)"
              data-hs-overlay="#hs-slide-down-animation-modal"
              class="region-item"
              style="cursor: pointer"
            >
              <input type="radio" name="region-radio" :id="`region-radio-${index}`" :checked="key === selectedRegion.name" style="cursor: pointer">
              <!-- <label :for="`region-radio-${index}`" style="cursor: pointer" @click="closeModal">{{ key }}</label> -->
              <span style="cursor: pointer" >{{ key }}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- </teleport> -->
</template>

<style scoped>
.regions-overlay {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0 auto !important;
  height: 100vh;
  padding-top: 100px;
}

.regions-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 15px;
}

.regions-wrapper {
  height: 600px;
  padding: 24px;
  width: 100%;
}
.main-form-input {
  padding: 14px 16px;
  height: 49px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
}
.custom-input:focus {
  border: 1px solid #e5e7eb;
  outline: none;
}

.custom-input {
  border: 1px solid #e5e7eb;
  font-size: 16px;
  height: 52px;
  margin-bottom: 15px;
}
.region-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 16px;
  display: flex;
}
.regions:last-child .region-item {
  margin-bottom: 0;
}
.region-item input {
  margin-right: 16px;
  width: 16px;
  height: 16px;
}
.custom-close-button {
  align-items: flex-start;
  cursor: pointer;
}
.custom-close-button:focus {
  --tw-ring-offset-color: none;
  border: none;
  transition: none;
}
.custom-close-button:focus-visible {
  border: none;
  transition: none;
}
.region-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #666666;
}
.region-button {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}
.hs-overlay {
  background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 425px) {
  .regions-wrapper {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    border-radius: 0;
  }
}
</style>
