<template>
  <div>
    <div class="calc-main-text" v-if="!userQuery">
      Вы узнаете, по каким запросам вас ищут в сети, сколько о вас негативной информации и как это влияет на репутацию, продажи и рекрутинг.   
    </div>
    <div class="wordstat-wrapper" v-if="wordstatKeys.length">
      <div class="wordstat-title">
        Отметьте запросы, которые хотите проверить 
      </div>
      <div class="wordstat-result">
        
        <transition-group>
          <div class="mb-6" key="main">
            <div class="wordstat-row-titles" key="wordstat-row-titles-1">
              <div class="wordstat-row-title" key="wordstat-row-title-1">Запросы, в которых часто вcтречается негатив:</div>
              <div class="wordstat-row-title" key="wordstat-row-title-1"></div>
            </div>
            <div v-for="(item, key) in mainSearchKeys" :key="`${key}-main-search-item`" class="wordstat-item-wrapper">
              <div class="wordstat-buttons" key="wordstat-buttons">
                <input 
                  class="checkbox-item" 
                  type="checkbox" 
                  :name="`${key}-checkbox-1`" 
                  :id="`${key}-checkbox-1`" 
                  :key="`${key}-checkbox-1`"
                  :disabled="checkLength && !userKeywords.find(i => i === item.Phrase)"
                  :checked="item.checked"
                  @change="selectKeyword($event.target.checked, item.Phrase), item.checked = $event.target.checked"
                  @click="metrika"
                >
                <label 
                  class="checkbox-label" 
                  :key="`${key}-label-1`" 
                  :for="`${key}-checkbox-1`" 
                  :style="{color: checkLength && !userKeywords.find(i => i === item.Phrase) ? '#C4C4C4' : 'var(--vt-c-text-light-1)'}"
                >{{ item.Phrase }}</label>
              </div>
            </div>
          </div>
          <div class="wordstat-row-titles" key="wordstat-row-titles">
            <div class="wordstat-row-title" key="wordstat-row-title">Популярные запросы:</div>
            <div class="wordstat-row-title" key="wordstat-row-title">Показов в месяц</div>
          </div>
          <div v-for="(item, key) in wordstatKeys.slice(0, slicer)" :key="`${key}-wordstat-item`" class="wordstat-item-wrapper">
            <div class="wordstat-buttons" key="wordstat-buttons">
              <input 
                class="checkbox-item" 
                type="checkbox" 
                :key="`${key}-checkbox`"
                :name="`${key}-checkbox`" 
                :id="`${key}-checkbox`" 
                @change="selectKeyword($event.target.checked, item.Phrase)"
                :disabled="checkLength && !userKeywords.find(i => i === item.Phrase)"
                @click="metrika"
                :checked="userKeywords.includes(item.Phrase)"
              >
              <label 
                class="checkbox-label" 
                :for="`${key}-checkbox`" 
                :key="`${key}-label`"
                :style="{color: checkLength && !userKeywords.find(i => i === item.Phrase) ? '#C4C4C4' : 'var(--vt-c-text-light-1)'}"
              >{{ item.Phrase }}</label>
            </div>
            <div class="wordstat-shows" key="wordstat-shows">
              {{ typeof item.Shows === "string" ? "" : new Intl.NumberFormat().format(item.Shows) }}
            </div>
          </div>
        </transition-group>
        
        <a class="show-more" href="#" @click="showMore(5, $event)" v-if="wordstatKeys.length > 5 && !hideShowMoreButton">Показать еще</a>
        
      </div>
      <div class="button-container">
        <div 
          :class="userKeywords.length ? '' : 'disabled-button'"
          class="custom-button py-3 px-4 inline-flex flex-shrink-0 justify-center 
                items-center gap-2 rounded-md border border-transparent font-semibold 
                bg-red-500 text-white hover:bg-red-600 focus:z-10 focus:outline-none 
                transition-all text-sm"
          @click="submit"
        >
          <span
            class="animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent text-white rounded-full"
            role="status" aria-label="loading" :style="{ display: isLoading ? 'block' : 'none' }">
            <span class="sr-only">Loading...</span>
          </span>
          <span :style="{ display: isLoading ? 'none' : 'block' }">Показать выдачу</span>
        </div>
      </div>
    </div>
    <div v-if="userQuery && !wordstatKeys.length">
      <div class="not-found-title">
        По запросу «{{userQuery}}» мы ничего не нашли
      </div>
      <div class="not-found-desc">
        Проверьте правильность написания запроса или введите другой запрос в связке «{{userQuery}}+отзывы» или «{{userQuery}}+работа»
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'pinia';
  import { usePayloadStore } from '../../stores/index';
  import axios from 'axios';

  const dev = import.meta.env.VITE_ENV_MODE === "dev"

  export default {
    data() {
      return {
        slicer: 5,
        userKeywords: [],
        isLoading: false,
        error: 0,
        hideShowMoreButton: false,
        calcUrl: import.meta.env.VITE_CALC_URL
        // calcUrl: 'http://localhost:3000'
      }
    },
    methods: {
      ...mapActions(usePayloadStore, ['setParserPayload', 'setUserSteps', 'setUserKeywords', 'setGeoIds', 'setChoosekeywordcalc', 'setUpdateFlag']),
      showMore(inc = 0, event) {
        let buffer = this.slicer + inc

        if (buffer > this.wordstatKeys.length) {
          this.slicer = this.wordstatKeys.length
          this.hideShowMoreButton = true
        } else {
          this.slicer = buffer
        }
        
        this.$scrollTo(event.target, 500, { offset: -500 })
      },
      selectKeyword(value, item) {
        if (value) {
          this.userKeywords.push(item)

          return
        }

        this.userKeywords = this.userKeywords.filter(i => i !== item)
      },
      async submit() {
        if (!this.userKeywords.length || this.isLoading) return
        
        this.isLoading = true
        if (!this.checkMainKeys) {
          this.setUpdateFlag(false)
        } else {
          this.setUpdateFlag(true)
        }

        if (!dev) {
          await axios.post(`${this.calcUrl}/api/v2/parser`, {
            taskID: this.taskID,
            keywords: this.userKeywords,
            geoIds: this.selectedRegion
          }).then(res => {
            for (const key of this.userKeywords) {
              if (
                res.data[key].google?.error?.code || 
                res.data[key].yandex?.error?.code || 
                res.data[key].yandex === undefined ||
                res.data[key].google === undefined
              ) 
              {
                this.isLoading = false
                alert('У наших партнеров Яндекс произошел сбой, повторите запрос через несколько секунд')
                return
              }
            }

            this.setParserPayload(res.data)
            this.isLoading = false
            this.setUserSteps("parser")
            this.setUserKeywords(this.userKeywords)
            this.$router.push({name: "engines"})
          }).catch(() => {
            this.isLoading = false

            alert('У наших партнеров Яндекс произошел сбой, повторите запрос через несколько секунд')
          })
        }
      },
      metrika() {
        if (window.ym && !this.metrikaGoals.choosekeywordcalc) {
          this.setChoosekeywordcalc(true)
          window.ym(window.ym_id, 'reachGoal', 'choosekeywordcalc')
        }
      }
    },
    computed: {
      ...mapState(usePayloadStore, ['userQuery', 'wordstatKeys', 'taskID', 'selectedRegion', 'selectedUserKeywords', 'mainSearchKeys', 'metrikaGoals']),
      checkLength() {
        if (this.userKeywords.length >= 5) {
         return true
        }
        
        return false
      },
      checkMainKeys() {
        const res = []

        for (const item of this.mainSearchKeys) {
          res.push(item.checked)
        }

        return res.includes(true) ? true : false
      }
    },
    watch: {
      userQuery: function(val) {
        this.userKeywords = []

        if (val.length) {
          for (const item of this.mainSearchKeys) {
            this.userKeywords.push(item.Phrase)
          }
        }
      }
    },
    mounted() {
      for (const item of this.mainSearchKeys) {
        if (item.checked) this.userKeywords.push(item.Phrase)
      }
    },
  }
</script>

<style scoped>
  .v-enter-active,
  .v-leave-active {
    transition: opacity 0.3s ease;
  }

  .v-enter-from,
  .v-leave-to {
    opacity: 0;
  }
  .calc-main-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #666666;
  }
  .wordstat-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 24px;
  }
  .wordstat-item-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .wordstat-row-titles {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #666666;
    margin-bottom: 16px;
  }
  .checkbox-item {
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }
  .checkbox-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 0 !important;
  }
  .wordstat-buttons {
    display: flex;
    align-items: center;
  }
  .custom-button {
    height: 44px;
    --tw-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-top: 24px;
    min-width: 194px;
    cursor: pointer;
    background: #e22a30;
  }
  .custom-button:hover {
    background: #bc171c;
  }
  .custom-button span {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 130% !important;
    color: white !important;
  }
  .wordstat-shows {
    font-size: 18px;
  }
  .show-more {
    padding-top: 4px;
  }
  .not-found-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 16px;
  }
  .disabled-button {
    opacity: 0.4;
    cursor: default;
  }
  .disabled-button:hover {
    background: #e22a30;
  }
  .not-found-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }

  @media screen and (max-width: 425px) {
    .custom-button {
      width: 100%;
    }
    .wordstat-title {
      font-size: 18px;
    }
  }
</style>