<script>
import { RouterView } from 'vue-router'
import MainHeader from './components/MainHeader.vue';

export default {
  components: {MainHeader, RouterView},
  
}
</script>

<template>
  <MainHeader />
  <RouterView />
</template>

<style scoped>
</style>
